.Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20%;
}

@media (min-width: 800px) {
  .Home {
    margin-top: 1%;
    flex-direction: row;
    justify-content: space-between;
  }
}
