@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.55)),
    url(https://images.unsplash.com/photo-1518607692857-bff9babd9d40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.title {
  font-size: 75px;
  color: white;
  font-family: "Playfair Display SC", serif;
  margin: 20px;
  align-self: flex-start;
  font-weight: 700;
  flex: 1;
}

.btn-group {
  margin-bottom: 3%;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 180px;
  height: 80px;
  margin: 20px;
  border: 5px solid rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none !important;
}

.home-btn > .text {
  position: relative;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgb(119, 96, 224) 0%,
    rgb(218, 101, 136) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgb(161, 191, 255) 100%
  );
  background-repeat: repeat;
  background-size: 200%;
  background-position: 100% 0;
  background-clip: text;
  transition: background-position 300ms;
}

.home-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  transform-origin: 100% 0;
  transform: scale3d(0, 1, 1);
  transition: transform 300ms;
}

.home-btn:hover .text {
  background-position: 0 0;
}

.home-btn:hover::before {
  transform-origin: 0 0;
  transform: scale3d(1, 1, 1);
}
