/* .label {
    font-size: 20px;
    font-weight: 500;
}*/

#login_form_section_body {
    background-color: #E6EEFF;
    display: inline-grid;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#login_form_section_body .logo_img {
    height: 5em;
    width: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#login_form_section_body .welcome_back_text {
    font-family: 'Nunito', sans-serif;
    color: #324567;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.2em;
}

#login_form_section_body .enter_cred_text {
    font-family: 'Nunito', sans-serif;
    color: #A1B3D2;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 2em;
}

#login_form_section_body .login_form_section {
    padding: 0.5em;
}

#login_form_section_body .login_form_div {
    overflow: hidden;
    border-radius: 5px;
    background-color: #FFF;
    padding: 2em;
    /* width: 30em; */
}

#login_form_section_body .login_form_div input {
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 0.8em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #324567;
    outline: none;

    background-position: 5% center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: calc(1.5em + 10%);
}

#login_form_section_body .valid {
    border: 1px solid #E6EEFF;
}

#login_form_section_body .not-valid {
    border: 2px solid #FF4D5E;
}

#login_form_section_body input::placeholder {
    color: #5A719D;
}

#login_form_section_body .login_form_div [type=email] {
    background-image: url("./img/envelope-solid.svg");
    
}

#login_form_section_body .login_form_div [type=password] {
    background-image: url("./img/lock-solid.svg");
}

#login_form_section_body .login_form_div input:-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0 2em white inset;
    padding-left: 1em;
}

#login_form_section_body .login_form_div button {
    border: none;
    border-radius: 5px;
    background-color: #2662FF;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    padding: 1em;
    width: 100%;
}

#login_form_section_body .small_text {
    text-align: center;
    margin-top: 2em;
    color: #7889A4;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
}

#login_form_section_body .small_text button {
    font-weight: 700;
    border: none;
    color: #2662FF;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

#login_form_section_body .form_error {
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    background-color: #FF4D5E;
    border: 1px solid #FF4D5E;
    color: white;
    padding: 0.3em;
    border-radius: 5px;

    display: block;
    width: fit-content;
    margin-top: 0.2em;
    margin-left: auto;
    margin-right: auto;
}