.header1 {
  height: 200px;
  width: 100%;
  padding-top: 50px;
  /* background-color: aquamarine; */
}

.taskCards {
  display: flex;
  height: 400px;
  width: 100%;
  flex-wrap: wrap;
  padding: 2% 5%;
}
